.app-link {
  font-family: inherit;
  font-size: $app-regular-font-size;
  color: inherit;
  text-decoration: none;
  &:hover, &:focus {
    color: $app-purple;
  }
}

.app-button {
  font-family: inherit;
  font-size: $app-small-font-size;
  font-weight: $app-bold-font-weight;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0.8rem 1rem;
  height: auto;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: left;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  @media screen and (min-width: 768px) {
    padding: 0.75rem 1.5rem;
  }

  &:focus,
  &:hover {
    text-decoration: none;
    color: inherit;
    background-color: $app-purple;
    border-color: transparent;
  }
}

.app-button-outline {
  color: $app-light-grey;
  background-color: transparent;
  border: 1px solid $app-shade-10;
  &:hover,
  &:focus {
    color: white;
    background-color: $app-purple;
    border: 1px solid $app-shade-10;
  }
}