.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: $app-purple;
  stroke-width: 2.5px;
}

text {
  font-family: $app-font-family;
}

.dot {
  cursor: pointer;
  fill: $app-purple;
  stroke: none;
  transition: all 200ms linear;
  &:hover, &:focus {
    stroke: $app-purple;
    stroke-width: 5px;
    stroke-opacity: 0.6;
    fill: darken($app-purple, 10%);
  }
}


.y-grid .tick {
  stroke: $app-purple;
  opacity: 1;
}

.tick line {
  fill: #6A6A6A;
  stroke-width: 0.15;
}

.tick text {
 fill: #6A6A6A;
}

.y-grid path.domain {
  stroke: none !important;
}